body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

.header {
  margin: 0 auto;
  background-image: url('../images/chalkboard.jpg');
  background-size: cover;
  text-align: center;
  color: white;
}

.lrgLogo {
  margin: 0 auto;
  padding: 30px 5px 20px 5px;
  max-width:600px;
}

.lrgLogo img {
  text-align: center;
  width: 100%;
}

.lrgTitle {
  font-size: 24px;
}

.date {
  padding-bottom: 10px;
}

.grid {
  margin: 0em;
  text-align: center;
  -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
  -webkit-column-gap: 0em;
  -moz-column-gap: 0em;
  column-gap: 0em;
}

a.ng-scope {
  height: 0px;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.grid-item img{
  width:100%;
}
